<carousel>
	<slide>
		<img src="assets/images/ferrari_488_gtb_stuttgart.jpg" alt="ferrari488" style="display: block; width: 100%;">
		<div class="carousel-caption">
			<h3>“7+S=A8”？驾驶最“聪明”的奥迪去触碰未来是什么感觉？</h3>
			<p>无论是奔驰S级还是宝马7系，都先一步迈进了智能化与数字化的技术领域，全新奥迪A8L要如何比对手更接近未来？</p>
		</div>
	</slide>
	<slide>
		<img src="assets/images/Japan_Tour_2018.jpg" alt="JapnaTour" style="display: block; width: 100%;">
		<div class="carousel-caption">
			<h3>当捷豹推出I-PACE：特斯拉会担心吗？不，最紧张的恐怕是ABB！</h3>
			<p>传统车企的壁垒并非牢不可破，而电动化的未来，从此便充满了更多的可能性和不确定性。</p>
		</div>
	</slide>
	<slide>
		<img src="assets/images/Range_Rover_Velar_Gravity.jpg" alt="RangeRover" style="display: block; width: 100%;">
		<div class="carousel-caption">
			<h3>当路虎推出第一辆混动p400e，它还能玩越野吗？</h3>
			<p>假如我开的是一辆越野车，那我还需要混动系统吗？</p>
		</div>
	</slide>

</carousel>

<p>
  home works!
</p>
